@import "../../utilities/Variable.scss";
.back-to-products-btn {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid $light-blue;
  color: $light-blue;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: $light-blue;
    color: $main-blue;
  }
  &:hover {
    outline: none;
  }
  &:focus {
    outline: 0;
  }
}
.add-to-cart {
  border-color: $main-yellow;
  color: $main-yellow;
  &:hover {
    background: $main-yellow;
  }
}
